/*SECCION DE LOS COMPONENTES DE PRIMEFACES*/
.ui-widget-header{
   background: #3C8DBC !important;
    color: #fff !important;
    font-weight: bold !important;
    margin: 0px !important;
}
.ui-datepicker{
    padding: 0px !important;
}
.ui-slider .ui-slider-handle{
    background: #444f54 !important;
    outline:0px !important;
}
.ui-inputfield {
    background:rgba(255,255,255,0.2);
    border-color:transparent !important;
    border-radius:0 !important;
    box-shadow:none !important;
    border-color:#d2d6de !important;
    box-shadow:none !important;
    width: 100% !important;
    margin: 0px !important;
    height: 36px !important;
    z-index: auto;
}
.ui-inputfield:focus, .ui-inputfield:active{
    border-color:rgba(0,0,0,0.1) !important;
    background:rgba(255,255,255,0.9) !important;
    border-color:#3c8dbc !important;
    box-shadow:none !important;
}
.ui-inputfield::-moz-placeholder{
    color:#ccc !important;
    opacity:1 !important;
}
.ui-inputfield:-ms-input-placeholder, .ui-inputfield::-webkit-input-placeholde{
    color:#ccc !important;
}
.ui-inputfield:not(select){
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
}
.ui-datepicker{
    
}
.ui-datepicker table tbody{
    padding-left: 10px !important;
}
.ui-datepicker table tbody tr td{
    border: 1px solid !important;
    border-color:#d2d6de !important;
    text-align: left !important;
    color: #000 !important;
}
.ui-datepicker table tbody tr td:hover{
    background:#d2d6de !important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default{
    color: #000 !important;
}
.ui-datepicker-next-hover, .ui-datepicker-prev-hover{
    box-shadow: none  !important;
    
} 
.main-header{
    z-index: 900 !important;
}
.fade{
    z-index: 999 !important;
}
.modal{
    z-index: 1000 !important;
}
.modal-dialog{
    z-index: 1001 !important;
}
.modal-content{
    z-index: 1002 !important;
}
.RegDiv{
    margin-right: 0px;
}